.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1em 0.5em;
}

.item {
  margin-bottom: 0;
}

.btn {
  width: 100%;
  padding: 0;
  border: none;
  box-shadow: none;
}

.image {
  border-radius: var(--pico-border-radius);
  height: 100%;
}

.end-message {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0;
}

.skeleton {
  border-radius: var(--pico-border-radius);
  background: linear-gradient(
    -45deg,
    var(--pico-secondary-background) 40%,
    var(--pico-secondary-hover-background) 50%,
    var(--pico-secondary-background) 60%
  );
  background-size: 375%;
  background-position-x: 100%;
  animation: shimmer 1s infinite linear;
}

.skeleton-image {
  aspect-ratio: 2 / 3;
  margin-bottom: 0.5em;
}

.skeleton-line {
  min-height: 1.25em;
}

@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}
